
<div class="blog-post"><button class="btn btn-danger btn-sm pull-right post-remove" style="display: none;"><i class="fa fa-times"></i></button><h2 class="blog-post-title">欢迎使用新系统</h2><p class="blog-post-meta">作者:<a href="">abc</a> 日期:2015-02-09 21:18</p><h3>系统使用过程中如遇到问题,请随时联系我: <br></h3><p><strong><u>QQ</u></strong>: <strong><span style="color:#FFFFFF;"><span style="background-color: rgb(255, 0, 0);">910142060</span></span></strong><br></p><p><strong>电话</strong>: <strong><span style="font-size:14px;"><span style="color: rgb(255, 0, 0);">13585116599</span></span></strong><br></p></div>






