extends ../layout
block content
  .page-header(style='margin-bottom:5px;')
    .btn-group(role="group", aria-lable="input-group", style="margin-right:5px;")
      button#customer-btn.btn.btn-primary.btn-sm 客户(自提)
      button#collection-btn.btn.btn-default.btn-sm 代收代付

    .btn-group(style="margin-right:5px;")
      button#single-price-input.btn.btn-default.btn-sm(data-toggle="tooltip", data-placement='bottom', title="对选择的已配发提单输入价格")
        i.fa.fa-cny
        | &nbsp;单行输入
      button#batch-price-input.btn.btn-default.btn-sm(data-toggle="tooltip", data-placement='bottom', title="对已配发提单批量输入价格")
        i.fa.fa-cny
        | &nbsp;批量输入
      button#filter.btn.btn-default.btn-sm(data-toggle="tooltip", data-placement='bottom', title="根据条件进行提单过滤")
        i.fa.fa-search-plus
        | &nbsp;过滤
      button#search-export.btn.btn-default.btn-sm
        i.fa.fa-external-link-square
        | &nbsp;导出

    .btn-group(style="margin-right:15px;")
      button#settle-bill.btn.btn-success.btn-sm
        i.fa.fa-tags
        | &nbsp;结算
      button#non-settle-bill.btn.btn-success.btn-sm
        i.fa.fa-ban
        | &nbsp;不需要结算
      //button#update-bill.btn.btn-success.btn-sm
        i.fa.fa-ban
        | &nbsp;Update

  #filter-ui.form-horizontal(style='display:none;')
    .row(style='margin-right:5px')
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='bf-bill-name') 开单名称
          .input-group.col-sm-8
            select#bf-bill-name.form-control
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='bf-vehicle') 车船号
          .input-group.col-sm-8
            select#bf-vehicle.form-control(multiple="multiple")
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='bf-destination') 目的地
          .input-group.col-sm-8
            select#bf-destination.form-control(multiple="multiple")

    .row(style='margin-right:5px')
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='bf-order-no') 订单号
          .input-group.col-sm-8
            select#bf-order-no.form-control(multiple="multiple")
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='start-date') 发货起始日期
          .input-group.date#start-date-grp
            input#start-date.form-control(type='text', name='start-date', data-date-format="YYYY-MM-DD")
            span.input-group-addon
              i.fa.fa-calendar
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='end-date') 发货结束日期
          .input-group.date#end-date-grp
            input#end-date.form-control(type='text', name='end-date', data-date-format="YYYY-MM-DD")
            span.input-group-addon
              i.fa.fa-calendar
    .row(style='margin-right:5px')
      .col-md-4
        .form-group
          label.control-label.col-sm-4(for='bf-bill-no') 提单号
          .input-group.col-sm-8
            select#bf-bill-no.form-control(multiple="multiple")
      .col-md-8
        .form-group
          .col-sm-1
          input#show-hide-non-settle(type='checkbox', name="show-hide-non-settle")
          label(for="show-hide-non-settle", style="margin-left:3px; margin-top:8px;font-size:12px; font-weight:normal", title="显示或隐藏不需要结算的纪录") &nbsp;不需要结算

          button#show-data.btn.btn-primary.pull-right
            i.fa.fa-list
            | &nbsp;显示数据

          h5.pull-right(style="margin-top:8px;margin-right:15px;") 记录数:
            code#curr-bills-number 0
          h5.pull-right(style="margin-top:8px;margin-right:10px;") 金额:
            code#lb-total-amount 0
          h5.pull-right(style="margin-top:8px;margin-right:10px;") 重量:
            code#lb-total-weight 0
          h5.pull-right(style="margin-top:8px;margin-right:10px;") (合计) 块数:
            code#lb-total-num 0

  table.table.invoice-table.table-bordered(style='margin-bottom: 0px !important; clear:both;')
    thead
      tr
        th#first-th(style='min-width:15px;')
        th 状态
        th 订单号
        th 提单号
        th 开单名称
        th 车船
        th 目的地
        th 价格
        th 发运块数
        th 发运重量
        th 发货仓库
        th 发货日期
        th 发货人
        th 运单号
        th 规格
        th 付款方式
        th 付款日期
    tbody#table-tbody

  script.
    var local_user = !{JSON.stringify(user)};
    var local_data = !{JSON.stringify(dData)};
    var local_data_2 = !{JSON.stringify(dData_2)};
