div.btn-group(style='margin-top:-15px;')
  button#data-add.btn.btn-default
    i.fa.fa-plus-square-o
    | &nbsp;增加
  button#data-modify.btn.btn-default
    i.fa.fa-pencil-square-o
    | &nbsp;修改
  button#data-delete.btn.btn-default
    i.fa.fa-minus-square-o
    | &nbsp;删除
div.btn-group(style='margin-top:-15px; margin-left:15px')
  button#data-export.btn.btn-default(data-toggle="popover", data-placement='bottom', data-content="导出为Excel文件格式")
    i.fa.fa-external-link-square
    | &nbsp;导出
  //button#data-import.btn.btn-default
    i.fa.fa-share-square
    | &nbsp;导入

div.btn-group(style='margin-top:-15px; margin-left:15px')
  label.btn-sm(for='data-search') 查询
  select#data-search(style='width:15em')
