div(style="overflow:scroll;min-height:65%;height:65vh")
  table#show-bill-table.table.table-bordered.table-hover(style="min-width:200%;")
    thead
      tr
        th#action-button(style='min-width:15px;')
        th 状态
        th 车船号
        th 订单号
        th 提单号
        th 牌号
        th 开单名称
        th 销售部门
        th 厚度
        th 宽度
        th 长度
        th 尺寸类型
        th 价格
        th 单重
        th 块数
        th 总重量
        th 发货仓库
        th 发货地址
        th 合同号
        th 创建日期
        th 发货日期
        th 结算日期
        th 创建人
        th 发货人
        th 结算人
        th#delete-button(style='min-width:15px;')
    tbody#data_tbody

